$height_main_header: 100px;
$height_main_footer: 150px;
$border_color: #bebebe;
$box-shadow: 3px 3px 3px rgba(#000, 0.5);
$box-shadow-down: 2px 2px 2px rgba(#000, 0.3);

@font-face {
  font-family: "Rubik-Bold";
  src: url("/static/public/fonts/Rubik-Bold.woff");
}

@font-face {
  font-family: "Rubik-BoldItalic";
  src: url("/static/public/fonts/Rubik-BoldItalic.woff");
}

@font-face {
  font-family: "Rubik-Italic";
  src: url("/static/public/fonts/Rubik-Italic.woff");
}

@font-face {
  font-family: "Rubik-Light";
  src: url("/static/public/fonts/Rubik-Light.woff");
}

@font-face {
  font-family: "Rubik-LightItalic";
  src: url("/static/public/fonts/Rubik-LightItalic.woff");
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("/static/public/fonts/Rubik-Regular.woff");
}
